:root{
    --color-b: black;
    --color-w: white;
    --color-g: #a8a8a8;
  }
  *{
    font-family: 'Dosis', 'san serif';
    accent-color: var(--color-b)
  }
  html, body{
    width: 100%;
    height: 100vh;
  }
  html{
    font-size: 62.5%;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: auto;
  }
  body::-webkit-scrollbar{
    width: 0.5rem;
  }
  body::-webkit-scrollbar-track{
    background: var(--color-g);
  }
  body::-webkit-scrollbar-thumb{
    background: var(--color-w);
    /* border-radius: 10px */
  }
  .special-text{
    font-family: 'Long Cang', 'san serif';
    /* font-size: 1.5rem */
  }
  .bold{
    font-weight: 900;
    color: var(--color-b)
  }
  .underline{
    text-decoration: underline;
  }
  svg{
    width: 50px;
  }
  header,form{
    height: 100vh;
    width: 100%;
    margin: 0;
    scroll-snap-align: start;
  }
  header h1{
    font-family: 'Long Cang', cursive;
    margin-bottom: 0;
    font-size: clamp(5rem, 6vw, 9vw);
    text-align: left;
    max-width: 90vw;
    margin: 0 0 0 1.5rem;
  }
  /* media query for the header h1 */
  header svg{
    position: fixed;
    width: 100%;
  }
  @media only screen and (max-width: 425px) {
  header svg{
    width: 100vw;
    z-index: -1;
    transform: scale(1.75);
    left: 5rem;
    top: 70%;
    /* position: static; */
  }
}
  p#description{
    font-size: clamp(1.5rem, 0.5vw, 2rem);
    margin: 1rem 0 0 1.5rem;
  }
  header a{
    font-style: italic;
    transition: 300ms
  }
  header a:hover{
    color: var(--color-w);
    background-color: var(--color-b);
    font-size: 2rem;
  }
  form{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    gap: 0; 
    justify-content: center;
    align-items: center;
  }
  div.form-div{
    width: 70%;
    /* glassmorphism code */
    background: rgba(168, 168, 168, 0.59);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(168, 168, 168, 0.53);
    /* glassmorphism code */
  }
  div.form-div::-webkit-scrollbar{
    display: none;
  }
  form::-webkit-scrollbar{
    display: none;
  }
  @media only screen and (max-width: 425px) {
    div.form-div{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      overflow: auto;
      scroll-snap-type: x mandatory;
    }
  } 
  fieldset{
    width: 50vw;
    background: var(--color-w);
    /* aspect-ratio:  */
    margin: 0;
    scroll-snap-align: center;
  }
  @media only screen and (max-width: 425px) {
    fieldset{
    width: 50vw;
    margin: 0 50vh 0 50vh;
    }
  }
  legend{
    font-family: 'Long Cang', cursive;
    font-size: 2.5rem;
    font-weight: 900;  
  }
  @media only screen and (max-width: 425px) {
    legend{
      /* font-family: 'Long Cang', cursive; */
      /* font-size: 1rem; */
      line-height: 1.75rem;  
    }
  }
  div.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  div.details input{
    width: 20rem;
  }